@font-face {
  font-family: 'PFDinTextPro-Light';
  src: url('../fonts/pfdintextpro-light.svg') format('svg'),
  url('../fonts/pfdintextpro-light.ttf') format('ttf'),
  url('../fonts/pfdintextpro-light.woff') format('woff');
}

@font-face {
  font-family: 'PFDinTextPro-Regular';
  src: url('../fonts/pfdintextpro-regular.svg') format('svg'),
  url('../fonts/pfdintextpro-regular.ttf') format('ttf'),
  url('../fonts/pfdintextpro-regular.woff') format('woff');
}

