* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/bg-mobile.jpg") no-repeat;
  background-size: cover;
  min-width: 300px;
}

.interest {
  &__heading {
    font-family: PFDinTextPro-Light, sans-serif;
    font-size: 36px;
    text-align: center;
    color: #171717;
    font-weight: 300;
    margin-top: 38px;
    margin-right: 10px;
    padding: 0 40px;
  }
  &__options-mob {
    margin-top: 22px;
  }
  &__btn {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    padding: 22px 20px;
    position: relative;
    margin: 0 18px 13px;
  }
  &__img-mob_trade {
    position: absolute;
    background: url("../img/trade-mob.png") no-repeat 0 0;
    width: 35px;
    height: 28px;
  }
  &__img-mob_invest {
    position: absolute;
    background: url("../img/invest-mob.png") no-repeat 0 0;
    width: 34px;
    height: 36px;
  }
  &__img-mob_pamm {
    position: absolute;
    background: url("../img/pamm-mob.png") no-repeat 2px 0;
    width: 32px;
    height: 36px;
  }
  &__opt-heading {
    font-family: PFDinTextPro-Regular, sans-serif;
    color: #2b2b2b;
    font-size: 19px;
    margin-left: 52px;
  }
  &__arrow {
    width: 19px;
    height: 12px;
    position: absolute;
    top: 31px;
    right: 15px;
    background: url("../img/arrow-down.png") no-repeat 0 0;
    &_up {
      background: url("../img/arrow-up.png") no-repeat 0 0;
    }
  }
  &__text {
    &_sum {
      color: #1c1c1c;
      font-size: 16px;
    }
    &_heading {
      font-size: 24px;
      color: #171717;
      padding: 30px 0;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  &__desc {
    padding: 5px 30px 0 30px;
    line-height: 20px;
    font-family: PFDinTextPro-Light, sans-serif;
    position: relative;
    display: none;
    margin-bottom: 24px;
  }
  &__action {
    border: 0;
    border-radius: 3px;
    outline: 0;
    color: #feffff;
    background: #009e82;
    font-family: PFDinTextPro-Medium, sans-serif;
    font-size: 18px;
    padding: 12px 26px;
    margin-top: 9px;
  }
  &__nav {
    display: none;
  }
  &__tabs {
    display: none;
  }
}

.ol-list {
  list-style: none;
  counter-reset: my-counter;
  padding: 0 4px 1px 32px;
  &__item {
    counter-increment: my-counter;
    position: relative;
    color: #1d1d1d;
    margin-bottom: 10px;
    line-height: 19px;
    &::before {
      content: counter(my-counter) '';
      color: #00b596;
      font-size: 32px;
      position: absolute;
      top: 5px;
      left: -32px;
    }
  }
}

.bg-mob-div {
  padding-bottom: 271px;
}

.bg-mob {
  width: 376px;
  height: 351px;
  background-image: url('../img/photo-mob.jpg');
  position: absolute;
  top: 506px;
  left: 0;
  z-index: -1;
}

@media (min-width: 377px) {
  .bg-mob {
    background: none;
  }
  .bg-mob-div {
    padding: 0;
  }
  .ol-list__item {
    margin-bottom: 15px;
  }
}

@media (min-width: 540px) {
  html, body {
    height: 100vh;
  }
  body {
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
  }
  .interest {
    &__slide-up {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%);
      width: 100%;
    }
    &__options-mob {
      display: none;
    }
    &__heading {
      margin-bottom: 4%;
    }
    &__nav {
      display: flex;
      justify-content: center;
    }
    &__nav-item {
      list-style-type: none;
      margin: 0 15px;
      text-align: center;
      width: 140px;
      height: 140px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
    }
    &__nav-link {
      display: block;
      color: #242424;
      border: 1px solid transparent;
      width: inherit;
      height: inherit;
      font-size: 18px;
      padding: 75px 5px 0;
      font-family: PFDinTextPro-Light, sans-serif;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        border: 1px solid #00b0a2;
      }
      &_trade {
        background: url("../img/trade-mob.png") no-repeat top 32px center;
      }
      &_invest {
        background: url("../img/invest-mob.png") no-repeat top 30px center;
      }
      &_pamm {
        background: url("../img/pamm-mob.png") no-repeat top 25px center;
      }
    }
    &__tabs {
      display: none;
      padding-top: 5%;
      background: url("../img/photo-bg.jpg") no-repeat;
      background-size: cover;
      //height: 100vh;
    }
    &__tabs-list {
      display: flex;
      text-align: center;
    }
    &__tabs-li {
      list-style-type: none;
      font-family: PFDinTextPro-Light, sans-serif;
      font-size: 18px;
      color: rgba(46, 46, 46, 0.8);
      padding-bottom: 4%;
      width: 170px;
      margin-bottom: -2px;
      cursor: pointer;
    }
    &__tabs-li.active {
      color: #009e82;
      font-family: PFDinTextPro-Regular, sans-serif;
      border-bottom: 3px solid #00978a;
    }
    &__tabs-content {
      display: none;
    }
    &__tabs-content.active {
      display: block;
      border-top: 1px solid rgba(181, 181, 181, 0.75);
      padding: 6% 32% 6% 6%;
      font-family: PFDinTextPro-Light, sans-serif;
    }
    &__tabs-sum {
      color: #1c1c1c;
      font-size: 16px;
    }
    &__tabs-heading {
      color: #171717;
      font-size: 20px;
      padding: 5% 0;
    }
  }
}

@media (min-width: 720px) {
  .interest {
    &__heading {
      font-size: 48px;
      margin-top: 7%;
    }
    &__nav-item {
      width: 200px;
      height: 200px;
    }
    &__nav-link {
      font-size: 20px;
      padding: 125px 5px 0;
      &_trade {
        background: url("../img/trade.png") no-repeat top 40px center;
      }
      &_invest {
        background: url("../img/invest.png") no-repeat top 35px center;
      }
      &_pamm {
        background: url("../img/pamm.png") no-repeat top 25px center;
      }
    }
    &__tabs-list {
      justify-content: space-evenly;
    }
    &__tabs-li {
      margin: 0 15px -2px;
      width: 180px;
    }
  }
}

@media (min-width: 1300px) {
  .interest {
    &__nav-item {
      width: 365px;
      height: 365px;
      padding: 9px;
      margin: 0 26px;
    }
    &__nav-link {
      width: 348px;
      height: 348px;
      font-size: 28px;
      padding: 196px 0 116px;
      &_trade {
        background-position: top 99px center;
      }
      &_invest {
        background-position: top 94px center;
      }
      &_pamm {
        background-position: top 77px center;
      }
    }
    &__tabs {
      padding-top: 3%;
      height: 100vh;
    }
    &__tabs-li {
      width: 365px;
      padding-bottom: 41px;
    }
  }
}

@media (min-width: 1600px) {
  .interest {
    &__heading {
      margin-top: 13.5%;
      margin-right: 22px;
    }
    &__nav {
      margin-right: 13px;
    }
    &__tabs {
      padding-top: 0;
    }
    &__tabs-sum {
      line-height: 24px;
      font-size: 18px;
    }
    &__tabs-heading {
      font-size: 24px;
      padding-top: 40px;
    }
    &__tabs-list {
      padding: 34px 350px 0;
    }
    &__tabs-li {
      font-size: 28px;
    }
    &__tabs-content.active {
      padding: 81px 45% 20px 350px;
      position: relative;
    }
    &__action {
      margin-top: 27px;
      padding: 12px 28px;
    }
  }
  .ol-list__item {
    line-height: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    &::before {
      top: 0;
    }
  }
}

@media (min-width: 1900px) {
  .interest {
    &__video-link {
      text-decoration: none;
      position: absolute;
      top: 45%;
      right: 13%;
      height: 99px;
      width: 99px;
      background: rgba(177, 177, 177, 0.2);
      border-radius: 50%;
      cursor: pointer;
      &::before {
        content: '';
        position: inherit;
        top: 18px;
        left: 34px;
        color: #00b0a2;
        background: url("../img/video-arrow.png") no-repeat 0 0;
        opacity: 0.8;
        padding: 30px 22px;
      }
    }
  }
}

